/FstAndLstIndex.class
/IsSorted.class
/KeypadCombinations.class
/MoveAllX.class
/PrintMatrixSpiral.class
/RecursiveCheckPrime.class
/RecursiveFactorial.class
/RecursiveFibonacci.class
/RecursivePrint.class
/RecursiveRaiseToPower.class
/RecursiveSumOfFirstNnumbers.class
/RemoveDuplicates.class
/ReverseString.class
/Subsequences.class
/TowerOfHanoi.class
/UniqueSubsequences.class
