/ArmstrongNumber.class
/BinarySearch.class
/BubbleSort.class
/InsertionSort.class
/MatrixReverse.class
/MergeArrays.class
/MergeTwoArrays.class
/Pattern.class
/PerfectSquare.class
/SumUptoN.class
/ThreeNplusOne.class
