/FLoydsTriangle.class
/HalfPyramid.class
/HalfPyramidNum.class
/HollowRectangle.class
/IOtriangle.class
/InvertedHalfPyramid.class
/InvertedHalfPyramidNum.class
/InvertedHalfPyramidRotatedX.class
/SolidRectangle.class
