/Alternate.class
/AvgSalary.class
/BetweenOneAndTen.class
/CalculatorWhile.class
/ClassMath.class
/Difference.class
/Fibonacci.class
/FinalDemo.class
/InitializeArray.class
/Maths.class
/MergeArrays2.class
/NumSearch.class
/OpenBank.class
/Palindrome.class
/Peaks.class
/Prime.class
/PrimeRecursive.class
/PrimeWhile.class
/PrintOneToTen.class
/ReverseArray.class
/Square.class
/Student.class
/StudentInit.class
/SumOfDigits.class
/WhileSeries.class
/StringReversal.class
